<ion-view title="Deportes" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/deporte1.jpg">
        <p align='justify'>
          El deporte es una actividad física reglamentada, normalmente de carácter competitivo, que puede mejorar la condición física1​ de quien lo practica, y tiene propiedades que lo diferencian del juego.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listDeporte">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
