<ion-view title="Gaming" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/game.jpg">
        <p align='justify'>
          Los deportes electrónicos o eSports son el nombre usado para designar las competiciones de videojuegos, las cuales se han convertido en eventos de gran popularidad.1​ Por lo general los eSports son competiciones de videojuegos multijugador, particularmente entre jugadores profesionales.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listGame">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
