<ion-view title="Inicio" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="inicio-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="inicio-slide24" style="background:url(&quot;img/uno.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="inicio-slide25" style="background:url(&quot;img/dos.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="inicio-slide26" style="background:url(&quot;img/tres.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="list card" id="inicio-card28">
      <ion-item class="item-avatar" id="inicio-list-item33">
        <h2>Museos</h2>
      </ion-item>
      <div ng-click="btnGo('museo')">
          <img src="img/museo_index.jpg" class="icon ion-image" >
      </div>
      <div class="item item-body" id="inicio-list-item-container10">
        <div id="inicio-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Descubre los mejores museos
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('museo')">
        <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
    </div>
    <div class="list card" id="inicio-card25">
      <div class="list card" id="inicio-card27">
        <ion-item class="item-avatar" id="inicio-list-item31">
          <h2>Plazas</h2>
        </ion-item>
        <div ng-click="btnGo('plaza')">
            <img src="img/plazas_index.jpg" class="icon ion-image" >
        </div>
        <div class="item item-body" id="inicio-list-item-container9">
          <div id="inicio-markdown9" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Descubre las mejores plazas para pasar el tiempo
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('plaza')">
          <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
      </div>
      <div class="list card" id="inicio-card26">
        <ion-item class="item-avatar" id="inicio-list-item29">
          <h2>Universidades</h2>
        </ion-item>
        <div ng-click="btnGo('uni')">
            <img src="img/universidad_index.jpg" class="icon ion-image" >
        </div>
        <div class="item item-body" id="inicio-list-item-container8">
          <div id="inicio-markdown8" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Descubre algunas de las universidades de México
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('uni')">
          <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
      </div>
      <ion-item class="item-avatar" id="inicio-list-item27">
        <h2>Parques</h2>
      </ion-item>
      <div ng-click="btnGo('parque')">
          <img src="img/parque_index.jpg" class="icon ion-image" >
      </div>
      <div class="item item-body" id="inicio-list-item-container7">
        <div id="inicio-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Visita donde puedes sacar a pasear a tu perro
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('parque')">
        <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
    </div>
    <div class="list card" id="inicio-card23">
      <ion-item class="item-avatar" id="inicio-list-item22">
        <h2>Gaming</h2>
      </ion-item>
      <div ng-click="btnGo('game')">
          <img src="img/game_index.jpg" class="icon ion-image" >
      </div>
      <div class="item item-body" id="inicio-list-item-container5">
        <div id="inicio-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Visita los mejores game center para distraerte
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('game')">
        <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
    </div>
    <div class="list card" id="inicio-card24">
      <ion-item class="item-avatar" id="inicio-list-item24">
        <h2>Deporte</h2>
      </ion-item>
      <div ng-click="btnGo('deporte')">
          <img src="img/deporte.jpg" class="icon ion-image" >
      </div>
      <div class="item item-body" id="inicio-list-item-container6">
        <div id="inicio-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            ¿Practicas un deporte? Talvez te gustaria visitar alguno de estos lugares
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="inicio-list-item34" ng-click="btnGo('deporte')">
        <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
    </div>
    <div class="list card" id="inicio-card21">
      <div class="list card" id="inicio-card22">
        <ion-item class="item-avatar" id="inicio-list-item20">
          <h2>Galeria</h2>
        </ion-item>
        <div >
            <img src="img/galeria_index.jpg" class="icon ion-image" >
        </div>
        <div class="item item-body" id="inicio-list-item-container4">
          <div id="inicio-markdown4" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Descubre nuestra galeria de fotos :D
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="inicio-list-item34">
          <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
      </div>
      <ion-item class="item-avatar" id="inicio-list-item26">
        <h2>Sobre la App</h2>
      </ion-item>
      <div >
          <img src="img/sobre_index.jpg" class="icon ion-image" >
      </div>
      <div class="item item-body" id="inicio-list-item-container2">
        <div id="inicio-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            ¿Quieres saber más sobre la app?
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="inicio-list-item34">
        <i class="icon ion-ios-eye-outline"></i>Ver</ion-item>
    </div>
  </ion-content>
</ion-view>
