<ion-view title="Mapas" id="page3">
  <ion-content padding="true" class="has-header"></ion-content>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Map</h1>
  </ion-header-bar>

  <ion-content scroll="false">
    <map ng-init="mapCreated(map)"></map>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
  </ion-footer-bar>
</ion-view>
