<ion-view title="Museos" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/museo.jpg">
        <p align='justify'>
          Un museo (del latín musēum y este a su vez del griego Μουσείον) es una institución pública o privada, permanente, con o sin fines de lucro, al servicio de la sociedad y su desarrollo, y abierta al público, que adquiere, conserva, investiga, comunica, expone o exhibe, con propósitos de estudio y educación, colecciones de arte, científicas, entre otros, siempre con un valor cultural, según el Consejo Internacional de Museos (ICOM). La ciencia que los estudia se denomina museología, la técnica de su gestión museografía y la administración de los mismos, museonomía.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listMuseo">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
