<ion-view title="Parques" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/parque.jpg">
        <p align='justify'>
          Un parque (del francés parc) es un terreno situado en el interior de una población, que se destina a prados, jardines y arbolado sirviendo como lugar de esparcimiento y recreación de los ciudadanos.

          Si se trata de una larga extensión de terreno natural y protegida por el estado, hablamos de un parque natural o de un Parque nacional.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listParque">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
