<ion-view title="Plazas" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/plaza.JPG">
        <p align='justify'>
          Una plaza es un espacio urbano público, amplio o pequeño y descubierto, en el que se suelen realizar gran variedad de actividades. Las hay de múltiples formas y tamaños, y construidas en todas las épocas, pero no hay ciudad en el mundo que no cuente con una. Por su relevancia y vitalidad dentro de la estructura de una ciudad se las considera como salones urbanos.

Con frecuencia son el elemento nuclear de una población, el lugar alrededor del cual comienzan a levantarse las edificaciones más representativas, con lo que se convierten en símbolos del poder, y en ocasiones reflejan la dualidad de poder (religioso y político). Son típicas en muchos pueblos la plaza del ayuntamiento y la plaza de la iglesia; en localidades mayores son más propias la plaza de la catedral o la plaza del palacio.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listPlaza">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
