<ion-view title="Universidades" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/uni.jpg">
        <p align='justify'>
          Una universidad es una entidad orgánica o sistema de unidades operativas de enseñanza superior, investigación y creación de cultura científica y humanística. Se puede ubicar en uno o varios lugares llamados campus. Otorga grados académicos y títulos profesionales a nombre de la nación.1​ Las universidades fueron creadas por monjes cristianos durante la Baja Edad Media.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    <div class="list" ng-repeat="l in listUni">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{l.nombre}}</h2>
          <p>{{l.tipo_lugar}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
